body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #42505E;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 199;
}

header h1 {
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}

header h2 {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

header h3 {
    font-weight: lighter;
}

.MainContainer {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("neoyotky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top;
}

.SubContainer{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: white;
}

.SubContainer h1 {
    margin-top: 600px;
    width: 600px;
    text-shadow: 2px 2px black;
    font-size: 50px;
    margin-left: 50px;
}

.fade {
    height: 300px;
    background:
        linear-gradient(
            rgba(42,60,83,0),
            rgba(42,60,83,1)
        );

    position: relative;
    margin-top: -300px;
    z-index: 2;
}

.Main p {
    width: 70%;
    text-align: center;
}

.Main h1 {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 3px black;
}

#six {
    margin-right: 500px;
    color: aquamarine;
    font-size: 100px;
}

#sixseven {
    text-align: left;
    padding-left: 20px;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

#image1 {
    background-image:
        url("cumputereye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top;
}

#holeup {
    border-radius: 10000px;
    outline: 10px solid;
    outline-color: rgba(0,0,0,0.1);
    outline-offset: -10px;
    box-shadow: 0 0 1000px 20px rgba(0,0,0,0.5);
}

#image2 {
    background-image:
        url("bird.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top;
}

.Main {
    display: flex;
    margin: 0px;
    background:
        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25)),
        rgba(42, 60, 83);
    height: 1500px;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 2.5px rgb(0, 0, 0);
}

 .sidebyside {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .sidebyside img {
    width: 42.5%;
    height: 400px;
    text-align: center;
    outline: 10px solid;
    outline-color: rgba(0,0,0,0.5);
    outline-offset: -10px;
    box-shadow: 0 0 15px 5px rgba(39, 102, 168, 0.5);
    top: 2 ;
 }

 .sidebyside p {
    top: 3;
    box-shadow: 0 0 15px 5px rgba(14, 109, 163, 0.5);
    width: 42.5%;
    height: 400px;
    text-align: center;
    font-size: 29px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    border-radius: 150px;
    outline: 10px solid;
    outline-color: rgba(0,0,0,0.5);
    outline-offset: -10px;
}

#image3 {
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("labarottory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forms {
    background:
        radial-gradient(rgba(9, 34, 88, 1), rgba(16, 113, 138, 1));
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 0px 3px black;
    border: 25px rgb(24, 64, 109) solid;
    border-radius: 100px;
}

#forms form input {
    padding: 5px;
    color: white;
    padding-left: 200px;
}

#forms form label {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 20px;
}

.gyronetwork {
    color: rgb(187, 14, 14);
    text-shadow: 2px 2px black;
}

#forms input[type=submit] {
    width: 100px;
    margin-top: 30px;
    background-color: green;

}