* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a, nav h1 {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 7px 7px 5px black;
}