body {
    margin: 0px;
    padding: 0px;
    background-image: url('https://wallpapers.com/images/hd/floating-island-subnautica-exccsk7khab72l5r.jpg');
}

header {
    top: 0;
    position: sticky;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
}

header img {
    border: rgb(245, 165, 18) 5px solid;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header h1 {
    font-size: 150px;
}

header ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 50px;
}

.main-container {
    background-image: url('https://wallpapers.com/images/hd/twisty-bridges-subnautica-hd-dhx8u4xbv1aibut0.jpg');
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submain-container {
    background-color: rgb(3, 34, 25, 0.5);
    height: 800px;
    width: 500px;
}