body {
    font-family: Arial, sans-serif;
    background-color: #182f44;
    color: #333;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    height: 100px;
    background-color: #1a4064;
    align-items: center;
    justify-content: center;
}

header a {
    padding: 0px 200px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containertype1 {
    width: auto;
    height: 3000px;
    display: flex;
    justify-content: center;
}

.containertype1sub1 {
    width: 50%;
    height: 500px;
    margin: 10px;
    color: white;
}

.containertype1sub1 img {
    width: 100%;
    height: auto;
}

.containertype1sub1 h1 {
    background-color: #1a4064;
    border-radius: 3px;
    padding: 20px;
    width: fit-content;
}