{% extends "base.html" %} 

{% block title %}

Track Finder — Tracks

{% endblock %} 

{% block content %} 

    <div id="tracks">

        {% for track in tracks %} 

            <p>
            {{ track.name }}, it is {{ track.length }}km long.
            It is rated
            {% for i in range(track.stars) %}
                ★
            {% endfor %}
            stars.
            </p>

            <img src="{{ track.image }}" alt="{{ track.name }}" width="200">

        {% endfor %}

    </div>

{% endblock %} 
