header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
}

header div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header ul {
    font-size: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header img {
    margin: 15px;
    width: 75px;    
    height: 75px;
    border-radius: 100px;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(145, 53, 11);
    height: 50px;
    display: flex;
    align-content: center;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.main-container {
    display: flex;
}

.MainText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: rgb(209, 83, 10) 10px solid;
    background-color: rgb(156, 63, 9);
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
}

.MainText p {
    color: white;
    font-size: 52.5px;
}

.MainImage {
    border: rgb(148, 7, 7) 10px solid;
    background-color: rgb(218, 189, 136);
    width: 50%;
    display: flex;
    flex-direction: column;
}

footer {
    border: rgb(44, 0, 21) 10px solid;
    display: flex;
    background-color: rgb(59, 8, 28);
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

footer ul {
    color: white;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
}